[submodule "docker_volume/dataset"]
	path = docker_volume/dataset
	url = https://github.com/TWeber132/thesis-dataset.git
[submodule "docker_volume/simulation"]
	path = docker_volume/simulation
	url = https://github.com/TWeber132/thesis-simulation.git
